<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="genre.css">
    <title>Genre Page</title>
</head>

<body>
    <header>
        <h1>Genre Page</h1>
    </header>

    <nav>
        <a href="http://127.0.0.1:5500/Project/View/html/mainpage.html">Home Page</a>
        <a href="http://127.0.0.1:5500/Project/View/html/userpage.html">User Page</a>
        <a href="http://127.0.0.1:5500/Project/View/html/artistPage.html">Artist Page</a>
        <a href="http://127.0.0.1:5500/Project/View/html/genrepage.html">Genre Page</a>
    </nav>

    <h2>Songs for each Genre</h2>
    <main class="container">
        
        
        <div>
        
            <h3>Rock</h3>
            <a>Each song for rock</a>
            <table id="rockSongs">
                <tr>
                    <th>Song</th>
                    <th>Genre</th>
                </tr>
                <tr>
                    <td>Rosemary</td>
                    <td>Rock</td>
                </tr>
                <tr>
                    <td>Hotel California</td>
                    <td>Rock</td>
                </tr>
                <tr>
                    <td>Say it aint so</td>
                    <td>Rock</td>
                </tr>
                
            </table>
        </div>

        <div>
            <h3>Pop</h3>
            <a>Each song for Pop</a> 
            <table id="popSongs">
                <tr>
                    <th>Song</th>
                    <th>Genre</th>
                </tr>
                <tr>
                    <td>One Kiss</td>
                    <td>Pop</td>
                </tr>
                <tr>
                    <td>NewJeans</td>
                    <td>Pop</td>
                </tr>
                <tr>
                    <td>MONACO</td>
                    <td>Pop</td>
                </tr>
                
            </table>
        </div>

        <div>
        
            <h3>Hip/Hop</h3>
            <a>Each song for Hip/Hop</a>
            <table id="hiphopSongs">
                <tr>
                    <th>Song</th>
                    <th>Genre</th>
                </tr>
                <tr>
                    <td>Sicko Mode</td>
                    <td>Hip/Hop</td>
                </tr>
                <tr>
                    <td>8am in Charlotte</td>
                    <td>Hip/Hop</td>
                </tr>
                <tr>
                    <td>SKELETONS</td>
                    <td>Hip/Hop</td>
                </tr>
            </table>
        </div>

    </main>

    <footer>
        &copy; 2023 Project
    </footer>

    <script src="genreScript.js"></script>
</body>

</html>
