<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="basic.css">
    <title>Genre Page</title>
</head>

<body>
    <header>
        <h1>Genre Page</h1>
    </header>

    <nav>
        <a href="http://127.0.0.1:5500/Project/View/html/mainpage.html">Home Page</a>
        <a href="http://127.0.0.1:5500/Project/View/html/userpage.html">User Page</a>
        <a href="http://127.0.0.1:5500/Project/View/html/playlistpage.html">Playlist Page</a>
        <a href="http://127.0.0.1:5500/Project/View/html/genrepage.html">Genre Page</a>
    </nav>

    <main class="container">
        
    </main>

    <footer>
        &copy; 2023 Project
    </footer>

    <script src="userscript.js"></script>
</body>

</html>
