<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="basic.css">
    <title>Playlist Page</title>
</head>

<body>
    <header>
        <h1>Playlist Page</h1>
    </header>

    <nav>
        <a href="http://127.0.0.1:5500/Project/View/html/mainpage.html">Home Page</a>
        <a href="http://127.0.0.1:5500/Project/View/html/userpage.html">User Page</a>
        <a href="http://127.0.0.1:5500/Project/View/html/artistPage.html">Playlist Page</a>
        <a href="http://127.0.0.1:5500/Project/View/html/genrepage.html">Genre Page</a>
    </nav>
    
    <main class="container">
        <section>
        <h3 id = "usertag">USERTAG</h3>
        
        <select id = "playlistSelect">Select Playlist</select>
        <br><br>
        <h3>Playlist option</h3>
        <button id = "DeletePlaylist">Delete Playlist</button>
        <br>
        <form>Playlist name</form>
        <input type = "text" id = "NewPlaylistName">
        <form>Playlist Genre</form>
        <input type = "text" id = "NewPlaylistGenre">
        <button id = "AddPlaylist">Add Playlist</button><br>
        <h3>Songs Option</h3>
        <button id = "AddSong">Add Song</button><br>
        <button id = "DeleteSong">Delete Song</button><br>
        <button id = "RandomSong">Random Song</button>
        
        <table id="playlistTable"></table>
        </section>

    </main>

    <footer>
        &copy; 2023 Project
    </footer>

    <script src="playlistscript.js"></script>
</body>

</html>
