<!DOCTYPE html>

<head>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: center;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
<table>
    <div>
    <div>

    <th>
    
        <h2><a href="http://127.0.0.1:5500/Project/View/mainpage.html">Home Page</a></h2>
    </th>
    </div>
    <div>
    <th>
        <h2><a href="http://127.0.0.1:5500/Project/View/userpage.html">User Page</a></h2>
    </div>
    </th>
    <th>
        <div>
    <h2><a href="http://127.0.0.1:5500/Project/View/playlistpage.html">Playlist Page</a></h2>
        </div>
    </th>
    <div>
     <th>
        <h2><a href="http://127.0.0.1:5500/Project/View/genrepage.html">Genre Page</a></h2>
    </th>
    </div>
    </div>
</table>

<title>User Page</title>
<h1>This is the User Page of the project</h1>
</head>

<body>
    <p id="TestPurposesOnly"></p>
    <p>Select user</p>
    <select id="SelectUser">

    </select>
    <script src="script.js"></script>
</body>